<?xml version="1.0" encoding="UTF-8"?>

<html xmlns:wicket>

<wicket:panel>

	<div wicket:id = "feedbackPanel" />
	<form wicket:id = "entityForm">
  
		<table>
			<caption wicket:id = "conceptName">
		  		Concept Name
		  	</caption>	  	
			<tr wicket:id = "propertyPanelList">
				<td wicket:id = "propertyValue">
					Property value
				</td>
			</tr>
			<tr>
				<td>
		            <input type = "submit" value = "+"/>
		            &ensp; &ensp;		
		            <input wicket:id = "cancel" type = "submit" value = "&Phi;"/>            
	        	</td>
	  		</tr>
		</table>
	
	</form>
  
</wicket:panel>

</html>