<html xmlns:wicket>

<wicket:panel>
	<div id="footer_section">
		<h1>iEducNews</h1>
		<ul>
	    	<li><a wicket:id="about">About</a></li>
		</ul>
	</div><!-- footer_section LEFT-->
	<div id="footer_section">
		<h1>Site Links</h1>
		<ul>
	    	<li><a wicket:id="new">New</a></li>
	    	<li><a wicket:id="submit">Submit</a></li>
		</ul>
	</div><!-- footer_section CENTER-->
	<div id="footer_section">
		<h1>Sponsors</h1>
		<ul>
	    	<li>
	    		<a href="http://www.ulaval.ca/" target="_blank">
	    			Université Laval
	    		</a>
	    	</li>
	    	<li>
		    	<a href="http://www5.fsa.ulaval.ca/" target="_blank">
		    		Faculté des sciences de l'administration
		    	</a>
	    	</li>
	    	<li>
	    	    <a href="http://www5.fsa.ulaval.ca/sgc/faculte/departementsecole/sio" target="_blank">
	    	        Département systèmes d'information organisationnels
	    	    </a>
	    	</li>
	    	<li>
		    	<a href="http://loli.fsa.ulaval.ca/" target="_blank">
		    		Cours en ligne du département des SIO
		    	</a>
	    	</li>
		</ul>
	</div><!-- footer_section RIGHT-->
</wicket:panel>

</html>