<?xml version="1.0" encoding="UTF-8"?>

<html xmlns:wicket>

<wicket:panel>

	<div wicket:id = "conceptsName" class = "box-title">
		Concepts Name
	</div> 
	
	<div wicket:id = "propertyLabelList" class = "box-subtitle">
	    <div wicket:id = "propertyLabel">
	  	    Property label
	  	</div>
	</div>   
	 		
    <div wicket:id = "entityList">
    	<div wicket:id = "propertyPanelList">
        	<div wicket:id = "propertyPanel">
	  	    	Property panel
	  	  	</div>
      	</div>
      	__
  	</div>	
  
</wicket:panel>

</html>