<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket>

<wicket:panel>

	<table>
	  	<caption wicket:id = "conceptsName">
	  		Concepts Name
	  	</caption>  	
    	<tr>
	    	<th wicket:id = "propertyLabelList">
	    		<span wicket:id = "propertyLabel">
	  	    		Property label
	  	  		</span>
	    	</th>    	
    	</tr>
    	
    	<tr wicket:id = "entityList">
    		<td wicket:id = "propertyPanelList">
        		<span wicket:id = "propertyPanel">
	  	    		Property panel
	  	  		</span>
      		</td>
    	</tr>
  	</table>
  	 
</wicket:panel>

</html>