<html>
<body>

<wicket:extend>
	<div class="section_title">Submit a link</div>
	<div id="main_text">
		<div id="large_form">
			<form wicket:id="form">
				<span>name</span><br/>
				<input type="text" class="inputName" wicket:id="name"/><br/>
				<span>link</span><br/>
				<input type="text" class="inputURL" wicket:id="link"/><br/>
				<input type="submit" value="submit" wicket:id="save"/>
			</form>
		</div>
		<div wicket:id="feedback" id="feedback"></div>
	</div>
</wicket:extend>

</body>
</html>