#include ("template/ModelibraComment.txt")

package ${domainswingappi18npackagecode};

import java.io.IOException;

public class TextRes_en extends org.modelibra.swing.app.i18n.TextRes_en {

	TextRes_en() throws IOException {
		super("TextRes_en.properties");
	}

}