about=About
aboutTitle=About
accepted=Accepted
add=Add
addNot=Add was not successful.
appTitle=Modelibra Swing Application
arrangeEntities=Arrange Concepts
attach=Attach
author=Author
baseType=Base Class
category=Modelibra
close=Close
colorChoice=Color Choice
colorEntities=Color Entities
concept=Concept
concepts=Concepts
createEntities=Create Concepts
creator=D\u017eenan Ri\u0111anovi\u0107
data=Data
date=2009-11-30
deleteSelectedEntities=Delete Selected Concepts
deselectEntities=Deselect Concepts
decreaseHeightSelectedEntities=Decrease Height of Selected Entities
decreaseWidthSelectedEntities=Decrease Width of Selected Entities
decreaseSizeSelectedEntities=Decrease Size of Selected Entities
description=Description
dictionary=Dictionary
display=Display
domain=Domain
domains=Domains
edit=Edit
empty=
entityTip=Create a concept.
entry=Entry
exit=Exit
file=File
findEntity=Find Concept
fileExists=File exists!
generation=Concept Generation
help=Help
hideSelectedEntities=Hide Selected Concepts
id=Id
increaseHeightSelectedEntities=Increase Height of Selected Entities
increaseWidthSelectedEntities=Increase Width of Selected Entities
increaseSizeSelectedEntities=Increase Size of Selected Entities
increment=Increment
init=Init
internal=Internal
invalidType=Type of property value is not valid.
length=Length
lookup=Look Up
max=Max
min=Min
modelibra=Modelibra
model=Model
models=Models
name=Name
neighbor=Neighbor
neighborName=neighbor
neighbors=Neighbors
number=Number
new=New
no=No
ok=OK
open=Open
product=Modelibra Swing
property=Property
propertyName=property
properties=Properties
random=Random
remove=Remove
removeNot=Remove was not successful.
replaceFile=Replace file?
rshipTip=Select a relationship.
save=Save
saveAs=Save As
search=Search
selectDirectory=Select Directory
selectEntities=Select Concepts
selectFile=Select File
selectTip=Select a concept.
showHiddenEntities=Show Hidden Concepts
text=Text
type=Type
types=Types
undo=Undo
update=Update
updateNot=Update was not successful.
value=Mandatory Value
version=Java
view=View
yes=Yes
zoomIn=Zoom In
zoomOut=Zoom Out

Concept=Concept
Concept.name=Entry Concept Name

Domain=Domain
Domain.name=Domain Name
Domain.type=Domain Type
Domains=Domains

Model=Domain Model
Model.name=Domain Model Name
Model.entries=Domain Model Entries
Models=Domain Models