<html>
<body>
<wicket:extend>
	<div id="container">
		<div id="content">
			<div id="mainFull">	
			<h3>Templates</h3>		
				<div wicket:id="templateListView">
					<span class="pointMain"></span> &nbsp;
					Name: <span wicket:id="name"></span>&nbsp;<a wicket:id="preview" target="_blank"> <i>(preview)</i> </a><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|Directory:<span wicket:id="directory"></span><br>
					&nbsp;&nbsp;&nbsp;<span class="arrowRight"></span><a wicket:id="selectTemplate">Select this Template for your site</a>
					<br><br>
				
				</div> <!-- templateListView -->
			</div> <!-- main -->
		</div> <!-- content -->
	</div> <!-- container -->
</wicket:extend>
</body>
</html>
