<html>
<body>

<wicket:extend>
	<div id="links_list">
		<ol>
	    	<li wicket:id="submissions">
				<a href="#" target="_blank" wicket:id="linkUrl"></a>
				<span wicket:id="nameLabel"></span>
	        	<br/>
	        	<span class="link" wicket:id="linkLabel"></span>
	        	<a title="Remove WebLink" class="remove_icon" wicket:id="removeSubmission"></a>
	    	</li>	
		</ol>
		<div wicket:id="navigator" id="navigator"></div>
	</div><!-- links_list -->
</wicket:extend>

</body>
</html>